@import "./tailwind_config.css";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/*reset*/
* {
    box-sizing: border-box;
    outline: 0;
    vertical-align: baseline;
    font-family: Pretendard, -apple-system, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.4;
}

code, kbd, pre, samp {
    @apply p-0 m-0;
}

legend {
    &:not(.show) {
        visibility: hidden;
        display: none;
    }
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

html, body {
    touch-action: pan-x pan-y;
}

body {
    @apply relative flex flex-col content-center items-center bg-white;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    @apply cursor-pointer;
    text-decoration: none;
    color: inherit;
}

table {
    @apply w-full;
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
        @apply m-0 py-1 px-2;
        vertical-align: middle;
    }

    .col-header,
    .row-header {
        @apply text-center;
    }

    tbody tr:nth-of-type(6) td:nth-of-type(1),
    tbody tr:nth-of-type(6) td:nth-of-type(2) {
        @apply text-center;
    }
}

input, button, select, textarea {
    @apply appearance-none bg-transparent outline-none text-inherit cursor-pointer;
    font-size: inherit;
}

header, footer, section, article, aside, nav, figure, figcaption {
    @apply flex;
}

img {
    @apply block;
    max-width: 100%;
}

video, audio {
    max-width: 100%;
}

label {
    @apply cursor-pointer m-0;
    display: inline-block;
}

input, textarea {
    @apply bg-transparent;
    border-radius: 0;
}

textarea {
    @apply resize-none;
}

.inner-box {
    @apply w-full flex;
    max-width: 540px;
    @media (max-width: 576px) {
        max-width: 100vw;
    }
}

.default-padding {
    @apply px-6;
}

.interaction-nav-btn {
    @apply absolute z-20 text-xs px-2 py-0.5 border transition border-0 rounded-lg opacity-0;
    @apply transition-all duration-150 ease-in-out;

    &:hover ,
    &.active {
        @apply bg-yellow-50 shadow opacity-100;
    }
}

.interaction-item {
    @apply transition-all duration-150 ease-in-out p-0;

    &:hover,
    &.active {
        @apply bg-yellow-50 p-5 font-bold;
    }
}
