@import "./tailwind_config.css";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/*reset*/
* {
    box-sizing: border-box;
    outline: 0;
    vertical-align: baseline;
    font-family: Pretendard, -apple-system, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.4;
}

code, kbd, pre, samp {
    @apply p-0 m-0;
}

legend {
    &:not(.show) {
        visibility: hidden;
        display: none;
    }
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

html, body {
    touch-action: pan-x pan-y;
}

body {
    @apply relative flex flex-col content-center items-center bg-white;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    @apply cursor-pointer;
    text-decoration: none;
    color: inherit;
}

table {
    @apply w-full;
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
        @apply m-0 py-1 px-2;
        vertical-align: middle;
    }

    .col-header,
    .row-header {
        @apply text-center;
    }

    tbody tr:nth-of-type(6) td:nth-of-type(1),
    tbody tr:nth-of-type(6) td:nth-of-type(2) {
        @apply text-center;
    }
}

input, button, select, textarea {
    @apply appearance-none bg-transparent outline-none text-inherit cursor-pointer;
    font-size: inherit;
}

header, footer, section, article, aside, nav, figure, figcaption {
    @apply flex;
}

img {
    @apply block;
    max-width: 100%;
}

video, audio {
    max-width: 100%;
}

label {
    @apply cursor-pointer m-0;
    display: inline-block;
}

input, textarea {
    @apply bg-transparent;
    border-radius: 0;
}

textarea {
    @apply resize-none;
}

.inner-box {
    @apply w-full flex;
    max-width: 540px;
    @media (max-width: 576px) {
        max-width: 100vw;
    }
}

.default-padding {
    @apply px-6;
}

.interaction-nav-btn {
    @apply absolute z-20 text-xs px-2 py-0.5 border transition border-0 rounded-lg opacity-0;
    @apply transition-all duration-150 ease-in-out;

    &:hover ,
    &.active {
        @apply bg-yellow-200/20 shadow opacity-100 border border-solid border-red-300/80;
    }
}

.interaction-item {
    @apply relative w-full transition-all duration-150 ease-in-out text-left scale-100;

    &:focus,
    &:hover,
    &.active {
        @apply bg-yellow-200/20 px-5 font-bold scale-[1.05];
    }

    &.page_header,
    &.section_header,
    &.text {
        @apply flex w-1/2;
    }
}

.custom-pdf-page {
    .react-pdf__Page__textContent,
    .react-pdf__Page__annotations,
    canvas {
        @apply sm:!w-full sm:max-w-[72%] max-w-[100%];
        height: calc(100% / 0.77) !important;
    }
}

#texts1 {
    @apply text-5xl font-bold text-beachu-500 text-left;
}

table {
    @apply px-0;
    thead {
        th {
            @apply bg-beachu-500 text-white;
        }
    }
    tbody {
        tr {
            &:first-of-type {
                @apply bg-gray-100;
            }
        }
    }
}

.page_header {
    @apply text-xl font-bold;
}

.section_header {
    @apply text-lg font-medium pt-4 pb-2 list-disc;
    span {
        @apply flex items-center bg-beachu-500 text-white font-bold rounded-2xl px-2 py-1;
    }
}

#texts13 {
    @apply w-full;
}

#texts29, #texts30, #texts31, #texts32, #texts33, #texts34, #texts35,
#texts36, #texts37, #texts38, #texts39, #texts40, #texts42, #texts43,
#texts44, #texts45, #texts46, #texts47, #texts48, #texts49, #texts50,
#texts52, #texts53, #texts57, #texts58, #texts59, #texts60, #texts63,
#texts64, #texts65, #texts66, #texts67, #texts68,
#texts57, #texts58, #texts59, #texts60, #texts63, #texts64, #texts65, #texts66,
#texts67, #texts68, #texts69, #texts70, #texts72, #texts73, #texts74, #texts75,
#texts76, #texts77, #texts78, #texts79, #texts80, #texts82, #texts83, #texts84,
#texts85, #texts86, #texts87, #texts88, #texts89, #texts90 {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0;
}

#pictures1, #pictures2 {
    @apply relative z-1;
}